<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" data-provider-thread-count="2">
    <listeners>
        <listener class-name="com.tmb.listners.ListnerClass"></listener>
        <listener class-name="com.tmb.listners.MethodInterceptor"></listener>
        <listener class-name="com.tmb.listners.AnnotationsTransformer"></listener>
    </listeners>
    <test name="Regression1" parallel="methods" thread-count="3">
        <classes>
            <class name="com.tmb.tests.YourStoreLoginTest"/>
        </classes>
    </test>
</suite>